body {
    background-color: pink;
    font-family: 'Roboto', sans-serif;
}


h1 {
    
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;}

    #logo {
        float: left;
        font-size: 200%;
        margin-left: 2px;
        font-weight: 900;
    }

.img-container {
    background-image: url('../images/hero-img.jpg');
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #57585c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    text-decoration: underline;
}